/* Début reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fin reset */
/*Début Font-face*/
@font-face {
    font-family: beyond;
    src: url("../asset/polices/Beyond-Infinity-Demo.ttf");
}
/*Fin Font-face*/
/*Début Header*/
.livraison{
    height:50px;
    background-color: #90949494;
    font-family: Geneva, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    font-size:1.2em;
    text-align: center;
    color:#ef90b8;
}
#photo{
    display: flex;
    justify-content: center;

}
#boutique{
    width:1090px;
    height:300px;
    object-fit: cover;
}
#boxheader{
    display: flex;
    justify-content: center;
    width:100%;
    position:absolute;
    top:15%;
}
#allico{
    width:80%;
    margin:1% 10% 1% 10%;
}
#icones{
    list-style-type: none;
    paddin-top:3%;
    display: flex;
    justify-content: space-around;
    width:100%;
}
#icones a{
    color:#3d4246;
}
#icones a:hover{
    color: #ef90b8;
}
#allheader hr{
    display: block;
    width: 80%;
    align-items: center;
    margin:1% 10% 1% 10%   ;
}

h1{
    font-size: 6rem;
    font-family: beyond, Arial,Geneva,sans-serif;
    color: blanchedalmond;
    text-shadow: 5px 5px 5px black;
}

/*Fin Header*/
/*Début Navbar*/
#navbar{
    display: flex;
    justify-content: center;
}
#nav{
    display:flex;
    width:50%;
    justify-content:space-between;
    list-style-type: none;
    color:#3d4246;


}
/*Fin Navbar*/
/*Début view_insc*/

fieldset{
    width: 30%;
    justify-content: center;
    display:block;
    color: #3d4246;
}
legend{
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    color: #3d4246;
}
form{
    display: flex;
    flex-wrap: wrap;
}
#form label,input{
    width:100%;
}

input{
    width: 80%;
    margin-left:10%;
}


.adresse{
    width: 100%;
}
.adresse input{
    margin-top: 1%;
}

/*Fin view_insc*/
/*Début Confirmation*/
.confirm{
    text-align: center;
    color:#3d4246;
}
/*Fin confirmation*/
/*Début view_login*/
.allog,.allog2{
    display:flex;
    justify-content: center;
}
.allog{
    margin:5% 0 2.5% 0;

}
.allog2{
    margin-bottom: 5%;
}

#login{
    display: flex;
    flex-wrap: wrap;
}
label{
    width: 100%;
    text-align: center;
    margin: 1% 0;
}
input{
    width: 80%;
    margin-left:10%;
}
#submit{
    width:100%;
    display: flex;
    justify-content: center;
    margin:2% 0 2% 0;

}
#connexion{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2% 0;
    color:#3d4246;
    text-decoration: none;
}
#connexion:hover{
   color:#ef90b8;
}
/*Fin view_login*/
/*Début view_dashboard*/
.cssp{
    width:100%;
    display: flex;
    justify-content: center;
    height:50px;
    align-items: center;
    font-size: 2rem;
    margin-top:2%;
    color:#3d4246;
}
.allog1{
    display:flex;
    justify-content: center;
    margin:2% 0;

}
.cssa1{
    margin-top:1%;
}
.cssa,.cssa1{
    width:100%;
    display:flex;
    margin:3% 0;
}
.a{
    text-decoration:none;
    color:#3d4246;
    width:100%;
    text-align: center;
}
/*Fin view_dashboard*/
/*Début view_admin*/
.admin{
    display:flex;
    width: 100%;
}
.article,.membres{
    width: 50%;
    margin:2%
}
.gestarticle,.gestmembre{
    width:100%;
    height: 500px;
}
table{
    width: 100%;
    text-align: center;
    line-height: 30px;
}
table a{
    color: #3d4246;
    width: 20%;
}
table a:hover{
    color:#ef90b8;
}
/*Fin view_admin*/
/* Début Footer*/
footer p{
    font-size:110%;
}

footer a{
    text-decoration:none;
    color: #3d4246;
}
footer ul li{
    list-style-type: none;
}
footer a:hover{
    color:#ef90b8;
}
strong{
    text-decoration: underline;
}
#infos{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    flex-wrap: wrap;
    background-color:#90949494;
}
#infos div{
    text-align: justify;
    margin-top:5%;
    width:30%;
}
#infos div h3{
    text-decoration: underline;
}

hr{

    display: block;
    width: 80%;
    align-items: center;
    margin:5% 10% 1.5% 10%   ;
}
em{
    font-size: 0.7rem;
}
#rs{
    height: 40px;
}
#facebook{
    padding-bottom: 2%;
}
/* Fin Footer*/
/*Button*/
button{
    background-color:white;
    border:none;
}
button:hover{
    box-shadow: 2px 2px 2px black;
}